body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #000000, #333333, #666666);
    color: #0056b3;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-attachment: fixed;
}
header {
    /* background-color: #0056b3; */
     color: white; 
    padding: 10px 20px; 
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px; /* Increase the margin-top value */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.white-block {
    background-color: white;
    height: 4px;
    width: 70%;
    margin: 0 auto; /* Centers the block horizontally */
}
.content {
    padding: 20px;
    text-align: center;
}
.nav-links-right {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: auto; /* Pushes this group to the right */
}
.nav-links-left a,
.nav-links-right a {
    color: white; /* Ensure same color */
    text-decoration: none; /* Ensure same text decoration */
    font-size: 18px; /* Ensure same font size */
    padding: 0 20px; /* Add padding to the left and right */
    padding-right: 50px;


    color: white; /* Ensure same color */
    text-decoration: none; /* Ensure same text decoration */
    font-size: 18px; /* Ensure same font size */
    padding: 10px 20px; /* Add padding for button effect */
    border: 2px solid green; /* Add border with blue color */
    border-radius: 10px; /* Rounded corners */
    background-color: green; /* Blue background */
}
.nav-links-right a:hover {
    background-color: white; /* Change background on hover */
    color: #0056b3; /* Change text color on hover */
}
.nav-links-left {
   
    padding: 0 20px; /* Add padding to the left and right */
}
