body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f0f0f0, #cccccc);
   /*  background: url('Assets/Images/electric-vehicle-selfdriving-future-car-260nw-2185590899.jpg'); */ /* Maybe try fixing this later, it's a good image */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.signup-container {
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-left: 60%;
    height: 650px; /* Add this line to set a fixed height */
}

.signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0056b3;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group .required {
    color: red;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 50px;
}

.btn:hover {
    background-color: #003f7f;
}
.vertical-line {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 50%;
    width: 2px; /* Adjust the width as needed */
    background-color: #333; /* Adjust the color as needed */
    transform: translateX(-50%);
    z-index: 0; /* Ensure the line is behind the form */
}
.bold-text {
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    color: black; /* Change font color to black */
    font-size: 36px; /* Increase font size */
    font-weight: bold;
    line-height: 3.5; /* Adjust line height for spacing */
}
